* {
  box-sizing: border-box;
}

body {
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.col-3 {
  width: 25%;
  text-align: center;
}

.screen {
  height: 26rem;
}

.icon {
  width: 4rem;
}

.container {
  margin: 0 auto;
}
