* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
}

.current {
  border-bottom: 5px solid black;
}

.incorrect {
  border-bottom: 5px solid red;
  color: red;
}

.correct {
  color: #5fda5d;
}
