* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Arial, sans-serif;
  font-size: 1.1rem;
}

header {
  border-bottom: 1px solid lightgray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h3 {
  font-weight: normal;
}

h1 {
  font-family: "Tiempos Headline", 'Times New Roman', serif;
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  line-height: 2rem;
}

header a {
  color: darkgray;
}

header a:hover {
  color: dimgray;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.row {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.header-logo {
  width: 10rem;
}

.contact-button {
  color: white;
  background-color: rgb(10, 66, 101);
  font-size: 1.1rem;
  padding: 1rem 1.25rem;
  margin-left: -2rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  margin: 4rem 0;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 55%;
  padding-left: 5rem;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.25rem;
  margin: 2rem 0;
}

.get-started-button {
  background-color: rgb(10, 66, 101);
  color: white;
  font-size: 1.5rem;
  padding: 1.25rem 3rem;
  border: none;
  border-radius: 0.25rem;
}

.contact-button:hover,
.get-started-button:hover {
  cursor: pointer;
  color: rgb(10, 66, 101);
  background-color: darkgray;
}

.locations {
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid lightgray;
  color: dimgray;
  padding: 3rem 0 5rem 0;
}

.locations-header {
  width: 35%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.locations h3 {
  font-weight: normal;
  text-align: center;
  margin: 2rem 0;
}

.learn-text {
  color: dimgray;
  padding: 2rem 0;
}

.footer1 {
  background-color: dimgray;
  color: white;
}

.footer1 img {
  width: 10rem;
  margin-bottom: 2rem;
}

.footer1 h3 {
  margin-top: 0;
}

.pad {
  padding: 6rem 0;
}

.footer2 {
  color: dimgray;
}

.footer2 h3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 3rem;
}
